@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
body{font-family: 'Noto Sans KR', sans-serif; font-size:20px; color:#323232; font-weight:400;}
.in{position:relative; padding:0 30px;}

.title{}
.title_area{background:#000 url(../images/top_480.jpg) no-repeat; height:450px;
            position:relative; background-size:cover;}
.title_area .title_txt{width:100%; position:absolute; left:10px; top:50px; text-align:left;}
.title_area .title_txt h1{font-size:calc(21px + 1vw); color:#ff6905;}  
.title_area .title_txt strong{font-size:calc(20px + 1vw); color:#fff; padding-top:10px; display:block;}

.about_area{background:#e5d5cb; padding:50px 0 0;} 
.about_area .about_txt{ text-align:left; line-height:1.5; margin:0 20px;}
.about_area .about_txt h2{font-size:calc(20px + 1vw); color:#ff6905;}
.about_area .about_txt strong{display:block; font-size:calc(18px + 1vw); color:#ff6905;}
.about_area .about_txt span{font-size:calc(18px + 1vw); font-weight:bold;}
.about_area .about_txt p{font-size:calc(14px + 1vw); padding-top:50px; text-align:left;}
.about_area .about_pic{margin-top:50px;}
.about_area .about_pic img{display:block; width:100%;} 

.work{background:#c49d83; padding:50px 0 0;} 
.work_txt{text-align:left; line-height:1.5; margin:0 20px;}
.work_txt h3{font-size:calc(20px + 1vw); margin-bottom:50px;}
.work_txt p{font-size:calc(14px + 1vw); text-align:left; padding-bottom:10px;}
.work_pic{margin-top:50px;}

.event_area{padding:50px 20px; background:#e5d5cb; text-align:left;}   
.event_area h4{padding-top:50px; font-size:calc(20px + 1vw); }
.event_area strong{padding:20px 0 10px; display:block;}
.event_area .orange{margin:30px 0; text-align:left;}
.event_area .orange span{display:block; color:#ff6905; font-size:calc(20px + 1vw); padding-bottom:10px;}
.event_area .orange p{font-size:calc(15px + 1vw); line-height:1.5;}

.event_area .info_area{margin-bottom:50px;}
.event_area .info_area p{font-size:calc(13px + 1vw); }
.event_area .info_area strong{font-size:calc(14px + 1vw);}
.event_area .btn_wrap{width:200px; height:50px; border:1px solid #000; margin:0 auto;}
.event_area .btn_wrap a{display:block; color:#ff6905; text-align:center; line-height:50px; background:#000;}

/*tablet*/
@media screen and (min-width:768px){
	.title_area{background:#000 url(../images/top_768.jpg) no-repeat; height:465px; background-size:cover;} 
	.title_area .title_txt{left:50px}
	
	.about_area{padding:0; position:relative; height:510px;}
	.about_area .about_txt{position:absolute; right:0; top:0; width:50%; margin:0px; background:#e5d5cb; padding:50px 0;} 
	.about_area .about_txt h2{font-size:26px; padding-left: 20px;}
	.about_area .about_txt strong{font-size:22px;  padding-left: 20px;}
	.about_area .about_txt span{font-size:22px; padding:15px 20px; display:block;}
	.about_area .about_txt p{font-size:16px; padding:0px 20px;}
	.about_area .about_pic{margin-top:0px; position:absolute; left:0; top:0; width:50%;}
	.about_area .about_pic img{height:510px; display:inline-block;}

	.work{padding:0px; position:relative; height:510px;} 
	.work .work_txt{margin:0px; position:absolute; left:0; top:0; width:50%; background:#c49d83; padding:50px 0;}
	.work .work_txt h3{font-size:26; padding-left: 20px; margin-bottom:50px;}
	.work .work_txt p{padding:10px 20px; font-size:16px;}
	.work .work_pic{margin-top:0px; position:absolute; right:0; top:0; width:50%;}
	.work img{height:510px; display:inline-block; width:100%;}

	.event_area{padding:50px 0px; position:relative;}
	.event_area>div .orange{float:left; width:calc(100%/3 - 20px); margin:0px 10px; height:175px; background:#eaeaea;
	                         text-align:center;}
	.event_area h4{padding-top:0px; text-align:center;}
	.event_area .orange span{font-size:14px; padding:30px 10px 20px; display:inline-block;}
	.event_area .orange p{font-size:14px; padding:0 10px;}
	.event_area .ticket{display:block; text-align:center;}
	.event_area strong{display:inline;}
	.evevt_list{width:90%; margin-left: auto; margin-right: auto; padding:30px 0;}

	.event_area .info_area{margin-left:/*40px*/5.208333333333333%;}
	.event_area .info_area p{font-size:16px; padding-bottom:10px;}
	.event_area .info_area strong{font-size:20px; padding-right:10px;}

	.event_area .btn_wrap a{display:block; color:#ff6905; text-align:center; line-height:50px; background:#000;}

}

/*pc*/
@media screen and (min-width:1000px){
.title_area{ background:#000 url(../images/top.jpg) no-repeat; height:600px; background-position:center center;}
.title_area .title_txt{left:100px}
.about_area{height:900px;}
.about_area .about_txt{padding:200px 0; text-align:center;} 
.about_area .about_txt h2{font-size:34px;}
.about_area .about_txt strong{font-size:32px;}
.about_area .about_txt span{font-size:24px; padding:30px 20px;}
.about_area .about_txt p{font-size:20px; padding:0 50px; text-align:center;}
.about_area .about_pic img{height:900px;}

.work{height:800px;} 
.work .work_txt{padding:200px 0; text-align:center;} 
.work .work_txt h3{font-size:34px; padding-top:0px; padding-left: 50px; margin-bottom:50px;}
.work .work_txt p{padding:10px 0px; font-size:20px; text-align:center; width:500px; margin-left:auto; margin-right:auto;}
.work img{height:800px;}

.evevt_list{width:80%; margin-left: auto; margin-right: auto; padding:30px 0;}
.event_area>div .orange{float:left; width:calc(100%/3 - 20px); margin:0 20px 0 0; height:175px;}
.event_area .orange p{width:210px; margin-left:auto; margin-right:auto; padding:0;}
.event_area .info_area{margin-left:10%;}
}