@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{margin:0; padding:0;}
a{text-decoration:none; color:inherit;}
ul{list-style:none;}
img{border:0; outline: 0; max-width: 100%;}
button,input{background:transparent; border:0; outline:0;}
a, span, i{display:inline-block;}
.cl::after{content: ""; display: block; clear: both;}
.blind{display:block; width:0; height:0; overflow:hidden; position:absolute;} 

body{font-size:13px; color: #6e6b6a; font-family: "Noto Sans KR","돋움", sans-serif; line-height: 1;}
.in{width:1363px; margin-left:auto; margin-right:auto; position:relative;}
/*초기화End*/


.header{padding-top:40px; height: 240px; box-sizing:border-box; position:relative; z-index:100;}
.header .top_menu{position:absolute; right:0px; top:-10px;}
.header .top_menu a{font-size: 13px; vertical-align:middle; margin-left:10px;}
.header .top_menu a img{width: 22px; height: 20px;}
.header .top_menu a:nth-child(3){font-size: 14px;}

.header .logo{text-align:center; height:120px; overflow: hidden;}
.header .logo img{width:80%;}
.header .nav{width:1000px; margin-left: auto; margin-right: auto;}
.header .nav .gnb>li{float:left; position: relative; margin-bottom:10px;}
.header .nav>.gnb>li>a{display:block; padding:20px 43px 33px; font-size:18px; font-weight: 700; position:relative;}
.nav .gnb>li .lnb{position:absolute; width:235px;  left:20%; margin-left:-70px; background: #fff; border-top:2px solid #ff5fca; 
	               padding:10px 0; display:none; margin-top:8px;}
.nav .gnb>li .lnb a{display:block; text-align:center; padding:10px 0; font-size: 13px;}
.nav>.gnb>li:hover .lnb{display:block;}
.nav>.gnb>li:hover>a{color:#ff5fca;}
.nav>.gnb>li >.lnb> li:hover {background:#ff5fca;} /*네비게이션 End*/

.sub{position:relative;}
.sub .sub_pic{position:relative; height:600px;}
.sub .sub_pic li{background-repeat:no-repeat; background-position:center center; position:relative; height:600px;}
.sub .sub_pic li{background-image:url(../images/sub_visual.jpg);   background-size:cover; }


.contents .breadCrumb{width: 220px; margin: 33px 0 15px 1141px;}
.contents .breadCrumb p{font-size: 18px; /*font-weight: 700;*/}

.contents .brand{text-align: center; padding-top:60px;}/**/
.contents .brand h1{font-size: 40px; font-weight: 700; text-align: center; padding-bottom: 150px;}
.contents .brand h2{font-size: 28px; padding-bottom: 30px;}
.contents .brand h3{font-size: 20px; padding:0 20% 50px; line-height: 1.2; font-weight: 400;}
.contents .brand p{font-size: 16px; padding-bottom: 85px; line-height: 1.2;}

/*내용으로 보여지는 텍스트는 이미지로 하면 안됨- 가독성이 떨어져 보임 */
/*.contents .story {background:url(../images/sub_story.png) no-repeat; height: 350px;}*/
.green{background:#a4d232; height:350px; line-height:1.5;}
.green .ol{float:left; padding-right:230px; margin-left:auto; margin-right:auto; text-align:center; margin-top:80px; width:287px;}
.green .ol h4{font-size:30px; color:#fff; padding-bottom:40px;}
.green .ol p{font-size:16px; color:#fff;}
.green .sl{padding-right:0; }
.green .vi{padding-left:20px;}


.contents span{font-size:45px; font-weight: 700; margin:150px 0 50px; text-align:center; display:block;}
.contents .bi_wrap{background: #fbe5f6; height: 850px;}
.contents .bi_wrap .bi_pic{background:url(../images/sub_bi_.jpg) no-repeat; height: 450px; background-position: center 100px;} 


.contents .bi_wrap .bi_text{height: 250px; text-align: center; margin:0 90px;}
.contents .bi_wrap .bi_text li{float: left; width: 300px; padding-right: 140px; color: #4d5d59; line-height: 1.5;}
.contents .bi_wrap .bi_text li:last-child{padding-right: 0;}
.contents .bi_wrap .bi_text li span{font-size: 28px; font-weight: 700; color: #4d5d59;}


.footer{background:#e0e1e1; color:#333333; font-size:18px;}
.footer .footer_top_wrap {background-color:#776c75; width:100%; height:56px;}
.footer .footer_top{background: #776c75; }
.footer .footer_top li{float:left;}
.footer .footer_top .menu{float:left;}
.footer .footer_top .menu li{padding:20px 44px; position:relative;color: #fff;}
.footer .footer_top .menu li:first-child{padding-left:0px;}
.footer .footer_top .menu li::after{content:"|"; position:absolute; right:0; top:19px;}
.footer .footer_top .menu li:last-child::after{content:" ";}

.footer .footer_info{height:170px;}
.footer .footer_info .legal_box {padding-top:50px;}
.footer .footer_info .legal_box .legal{width:1363px;}
.footer .footer_info .legal_box .legal li{float:left;padding:0 23px;}
.footer .footer_info .legal li:first-child{padding-left:0px;}

.footer .footer_info .legal_box .footer_addr{width: 1363px;}
.footer .footer_info .legal_box .footer_addr li{float: left; padding-top: 30px;}



